<div class="overlay z-10 inset-x-0 bottom-0 fixed" data-target="mailpeek.overlay"></div>

<aside class="sidebar bg-white flex flex-col fixed left-0 bottom-0 z-20 md:border-r" data-target="mailpeek.sidebar">
  <div class="flex flex-center bg-gray-300 p-2 items-center" data-turbolinks-permanent="">
    <form class="flex flex-row items-center relative" method="get">
      <input class="appearance-none border rounded w-full py-2 pl-3 pr-6 text-grey-700 leading-tight focus:outline-none focus:shadow-outline" name="q" placeholder="Search Emails..." type="text" value="<%= params[:q] %>">
      <button class="text-blue-500 p-2 absolute right-0 hover:text-blue-600" type="submit">
        <i class="material-icons">search</i>
      </button>
    </form>
    <% if emails.any? %>
      <a
        class="ml-4 text-blue-500 no-underline hover:text-blue-600 leading-none block"
        href="<%= root_path %>read?email_id=<%= @email ? @email.id : '' %>"
        title="Mark All Emails Read"
      >
        <i class="material-icons">playlist_add_check</i>
      </a>
    <% end %>
    <a
      class="ml-4 text-blue-500 no-underline hover:text-blue-600 leading-none block"
      href="<%= root_path %>"
      title="Refresh Emails"
    >
      <i class="material-icons">refresh</i>
    </a>
    <% if emails.any? %>
      <a
        class="ml-4 text-blue-500 no-underline hover:text-blue-600 leading-none block"
        data-confirm="This will remove all emails and cannot be undone.  Are you sure?"
        data-method="delete"
        href="<%= root_path %>emails"
        title="Delete All Emails"
      >
        <i class="material-icons">delete</i>
      </a>
    <% end %>
  </div>
  <% if emails.any? %>
    <div class="flex-1 relative sidebar__top h-full  overflow-x-hidden overflow-y-auto">
      <% emails.each do |email| %>
        <div data-id="<%= email.id %>" class="sidebar__email <%= email.read ? 'sidebar__read' : 'sidebar__unread' %>">
          <a
            class="transition border-b border-grey-300 cursor-pointer block p-2 hover:bg-yellow-200 no-underline text-blue-500 <%= @email.id == email.id ? 'bg-yellow-200' : '' %>"
            href="<%= root_path %>emails/<%= email.id %>?<%= query_string %>"
          >
            <div class="text-sm">
              <%= email.subject %>
            </div>
            <div class="flex flex-no-wrap text-gray-600 text-xs pt-2">
              <div class="flex-1 truncate text-primary">
                To: <%= email.to.join(', ') %>
              </div>
              <div class="pl-2 text-right">
                <%= email.date.strftime('%F %r') %>
              </div>
            </div>
          </a>
        </div>
      <% end %>
      <% if emails.size < @total_count %>
        <div>
          <a
            class="block bg-blue-500 text-white font-bold py-2 px-4 hover:bg-blue-600 text-center no-underline"
            href="<%= root_path %>?per=<%= emails.size + 10 %>&q=<%= params[:q] %>"
            title="Refresh Emails"
          >
            More
          </a>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="sidebar__top sidebar__empty text-grey-600 inset-x-0 absolute text-center">
      No Emails Found
    </div>
  <% end %>
</aside>
